

#text-color {
    color: black;
}
.text-color {
    color:blue;
}
#paragraph-color {
    color: purple;
}
#pizza-price {
    color: black;
}

body {
    background-color:yellow;
  }


/* /////////////////////////////////////////////////////////// */

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: green;
    color: white;

  }

   /* center the header image */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: green;
    color: white;
  }

   /* center the header image */
   .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  /* /////////////////////////////////////////////////////////// */

  /* Top nav bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }